<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="LBRiiwaRight" type="RobotController.RobotSection, Plugin.RobotController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="LBRiiwaLeft" type="RobotController.RobotSection, Plugin.RobotController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <LBRiiwaRight>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\lbr_iiwa_14_r820-MUKGripper.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\tablesBothiiwa-scaled.stl" />        
    </LBRiiwaRight>
    <LBRiiwaLeft>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\lbr_iiwa_14_r820-MUKGripper.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\tablesBothiiwa-scaled.stl" />
    </LBRiiwaLeft>
</configuration>