<?xml version="1.0" ?>
<robot name="demo_bot">
  <!-- link list -->
  <link name="base_link" />
  <link name="link_1" />
  <link name="link_2" />
  <link name="tool0" />
	
  <!-- joint list -->
  <joint name="joint_a1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="204" lower="-2.9670597284" upper="2.9670597284" velocity="1.91986217719"/>
  </joint>
  
  <joint name="joint_a2" type="revolute">
    <origin rpy="0 0 0" xyz="0.25 0 0"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="204" lower="-2.9670597284" upper="2.9670597284" velocity="1.91986217719"/>
  </joint>
  
  <joint name="flange" type="fixed">
    <origin rpy="0 0 0" xyz="0.25 0 0"/>
    <parent link="link_2"/>
    <child link="tool0"/>
  </joint>
</robot>