<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="staplePath" type="CustomController.StapleSection, Plugin.CustomController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="LBRiiwaRight" type="CustomController.RobotSection, Plugin.CustomController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="LBRiiwaLeft" type="CustomController.RobotSection, Plugin.CustomController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="CybertechRight" type="CustomController.RobotSection, Plugin.CustomController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="CybertechLeft" type="CustomController.RobotSection, Plugin.CustomController, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <staplePath>
        <staplePath Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Models\\stl-files\\" />
    </staplePath>
    <LBRiiwaRight>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\lbr_iiwa_14_r820-MUKGripper.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\Umreifungsanlage_autolabel.stl" />        
        <Velocity Value="1400.0" />
    </LBRiiwaRight>
    <LBRiiwaLeft>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\lbr_iiwa_14_r820-MUKGripper.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\Umreifungsanlage_autolabel.stl" />
        <Velocity Value="1400.0" />
    </LBRiiwaLeft>
    <CybertechRight>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\kr_r1620_cybertech.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\Umreifungsanlage_autolabel.stl" />
        <Velocity Value="3600.0" />
    </CybertechRight>
    <CybertechLeft>
        <UrdfFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\rosi.components\Robots\\Robot-Descriptions\\urdf\\kr_r1620_cybertech.urdf" />        
        <ObstacleFile Path="C:\\Users\\fleximir\\Documents\\workspaceAutolabel\\itsowl-tt-autolabel\\autoLabel-Sim-Scenes\\stl-scene\\Umreifungsanlage_autolabel.stl" />
        <Velocity Value="3600.0" />
    </CybertechLeft>
</configuration>